/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
/*анимеция второго нажатия*/
.like-icon .spaces {
  transition: fill 0.3s 0.03s linear;
}

.like-icon .in {
  transition: fill 0.3s linear;
}

/*навестись на сердечко*/
.like-icon:hover .in {
  fill: var(--acc-clr);
  transition: fill 0s 0.1s linear;
}

.like-icon:hover .spaces {
  fill: var(--acc-clr);
  transition: fill linear;
}

/*сердечко зажато*/
.like-icon:active .in {
  fill: var(--color-animation);
  transition: fill 0s 0.1s linear;
}

.like-icon:active .spaces {
  fill: var(--color-animation);
  transition: fill linear;
}

/*сердечко нажато*/

.like-icon.is-liked .spaces {
  fill: var(--color-animation);
}

.like-icon.is-liked .in {
  fill: var(--color-animation);
}

.like-icon .contour {
  transition: fill linear;
}

.like-icon.is-liked .contour {
  fill: var(--color-animation);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .particles {
    animation: like-particles 0.3s 0.1s ease-in alternate;
}

@keyframes like-particles {
    from {
        fill: transparent;
    }
    to {
        fill: var(--color-animation);
    }
}

@keyframes like-contur {
    from {
        stroke: var(--color-animation);
        stroke-width: 1px;
    }

    to {
        stroke: none;
    }
}
