/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  color: var(--acc-clr);
  background-image: var(--back-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  margin: 0 auto;
  max-inline-size: 700px;
  min-block-size: 368px;
}

.button {
  display: grid;
  padding: 0;
  background-color: var(--bk-color);
  border: var(--border);
  box-shadow: none;
  align-items: center;
  justify-items: center;
  position: relative;
  cursor: pointer;
}

.button:focus {
  outline: none;

}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 100px auto 0;
  background-color: var(--bk-color);
  border: 2px solid var(--acc-clr);
}

.logo_group {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.logo-html {
  font-family: var(--highlight-font);
  margin-top: 130px;
  font-size: 65px;
}

.logo-teg {
  font-family: var(--highlight-font);
  font-weight: var(--font-weight);
  font-size: 23px;
}

.main {
  display: grid;
  gap: 50px;
  margin: auto;
  margin-top: 100px;
  max-inline-size: 700px;
}

.card {
  display: grid;
  background-color: var(--bk-color);
  border: var(--border);
}

.card_title {
  padding: 5px 10px;
  font-variation-settings: 'wght' var(--font-weight-bold);
  font-size: 18px;
}

.card_image-block {
  display: grid;
  overflow: hidden;
}

.card_image {
  block-size: 700px;
  object-fit: cover;
  margin-left: -340px;
  border: 2px solid var(--acc-clr);
}

.card2 {
  filter: saturate(200%);
}

.card3 {
  filter: sepia(100%);
}

.card4 {
  filter: invert(100%);
}

.card5 {
  filter: blur(5px);
}

.card6 {
  filter: sepia(100%) hue-rotate(180deg);
}

.card7 {
  filter: grayscale(100%);
}

.card8 {
  filter: hue-rotate(90deg);
}

@supports ((-webkit-text-stroke: 1px #FFFFFF) or (text-stroke: 1px #FFFFFF)) {
  .label {
    -webkit-text-stroke: 1px #FFFFFF;
  }
}

@supports not ((-webkit-text-stroke: 1px #FFFFFF) or (text-stroke: 1px #FFFFFF)) {
  .label {
    text-shadow:
      1px 0 #FFFFFF,
     -1px 0 #FFFFFF,
      0 1px #FFFFFF,
      0 -1px #FFFFFF;
  }
}

.label {
  position: absolute;
  justify-self: end;
  margin: 30px 20px;
  color: var(--accent-color);
  font-family: var(--highlight-font);
  font-size: 14px;
  font-weight: var(--font-weight);
  -webkit-text-stroke: 1px #FFFFFF;
  opacity: 0.5;
  z-index: 1;
}

.card_text-block {
  display: grid;
  padding: 25px;
  gap: 28px;
  font-size: 18px;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight);
}

.card__button-block {
  display: flex;
  justify-self: end;
  gap: 10px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.card__like-button {
  position: relative;
  background-color: var(--bk-color);
  border: 2px solid var(--acc-clr);
  padding: 9px 17px;
  cursor: pointer;
  font-family: var(--highlight-font);
  block-size: 38px;
  inline-size: 130px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--acc-clr);
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 0.3s ease;
}

.card__like-button:hover::before {
  transform: translateX(0);
}

.card__like-button:hover {
  color: var(--btn-hover-text-color);
}
.card__like-button:focus {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.card__icon-button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  block-size: 27px;
  inline-size: 24px;
  margin-right: 20px;
}

.save_button {
  position: relative;
  display: flex;
  margin: 40px auto;
  font-family: var(--highlight-font);
  padding: 15px 20px;
  font-size: 14px;
  background-color: var(--bk-color);
  gap: 8px;
  align-items: center;
  transition: color 0.5s ease;
  z-index: 0;
  overflow: hidden;
}

.save_button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--acc-clr);
  transform: translateX(-100%);
  z-index: -2;
  transition: transform 0.5s ease;
}

.save_button:hover::before {
  transform: translateX(0);
}

.save_button:hover {
  color: var(--btn-hover-text-color);
}

.save_button:focus {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.dialog[open] {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  inline-size: 353px;
  block-size: 191px;
  padding: 30px;
  border: var(--border);
  background-color: var(--bk-color);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}

.dialog:not([open]) {
  display: none;
}

.dialog-buttom {
  grid-column: 1 / 3;
}

.dialog_title {
  font-family: var(--highlight-font);
  font-size: 14px;
}

.dialog_button {
  block-size: 38px;
  inline-size: 293px;
}

.button_text {
  font-family: var(--highlight-font);
  font-size: 14px;
  font-weight: var(--font-weight);
  line-height: 150%;
}

.dialog-button-img {
  inline-size: 21px;
}

.dialog-img {
  block-size: 39px;
  inline-size: 39px;
}

@media (width <= 1440px) {
  .header {
    width: min(100%, 700px);
  }

  .main {
    width: min(100%, 700px);
  }
}

@media (width <= 450px) {
  .logo-html {
    font-size: 49px;
  }

  .logo-teg {
    font-size: 14px;
  }

  .card_image {
    block-size: 375px;
  }

  .save_button {
    flex-direction: column;
    block-size: 84px;
    inline-size: 306px;
  }

  .button_text {
    block-size: 14px;
    inline-size: 266px;
  }

  dialog[open] {
  inline-size: 341px;
  block-size: 191px;
  padding: 30px 40px;
  }
  
}