/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  color: var(--acc-clr);
}

.content {
  margin: 0 auto;
  max-inline-size: 700px;
  min-block-size: 368px;
}

.button {
  display: grid;
  padding: 0;
  background-color: var(--bk-color);
  border: var(--border);
  box-shadow: none; 
  align-items: center;
  justify-items: center;
  position: relative;
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 100px auto 0;
  background-color: var(--bk-color);
  border: 2px solid var(--acc-clr);
}

.logo_group {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.logo-html {
  font-family: var(--highlight-font);
  margin-top: 130px;
  font-size: 65px;
}

.logo-teg {
  font-family: var(--highlight-font);
  font-weight: var(--font-weight);
  font-size: 23px;
}

.main {
  display: grid;
  gap: 50px;
  margin: auto;
  margin-top: 100px;
  max-inline-size: 700px;
}

.card {
  display: grid;
  background-color: var(--bk-color);
  border: var(--border);
}

.card_title {
  padding: 5px 10px;
  font-variation-settings: 'wght' var(--font-weight-bold);
  font-size: 18px;
}

.card_image-block {
  display: grid;
  overflow: hidden;
}

.card_image {
  max-block-size: 696px;
  block-size: 696px;
  object-fit: cover;
  object-position: right top;
}

.label {
  position: absolute;
  justify-self: end;
  margin: 30px 20px;
  color: var(--accent-color);
  font-family: var(--highlight-font);
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  text-shadow:
    -1px 0 var(--bk-color),
    0 1px var(--bk-color),
    1px 0 var(--bk-color),
    0 -1px var(--bk-color);
  opacity: 0.5;
  z-index: 1;
}

.card_text-block{
  display: grid;
  padding: 25px;
  gap: 28px;
  font-size: 18px;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight);
}

.card__button-block {
  display: flex;
  justify-self: end;
  gap: 10px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.card__like-button {
  background-color: var(--bk-color);
  border: 2px solid var(--acc-clr);
  padding: 9px 17px;
  cursor: pointer;
  font-family: var(--highlight-font);
  block-size: 38;
  inline-size: 130px;
}

.card__icon-button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  margin-top: 10px;
}

.save_button {
  display: grid;
  margin: 40px auto;
  font-family: var(--highlight-font);
  padding: 15px 20px;
  font-size: 14px;
  background-color: var(--background-color);
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  align-items: center;
}

.dialog[open] {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  inline-size: 353px;
  block-size: 191px;
  padding: 30px;
  border: var(--border);
  background-color: var(--bk-color);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}

.form-dialog {
  grid-column: 1 / 3;
}

.dialog_title {
  font-family: var(--highlight-font);
  font-size: 14px;
}

.dialog_button {
  block-size: 38px;
  inline-size: 293px;
}

.button_text {
  font-family: var(--highlight-font);
  font-size: 14px;
}
