/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', sans-serif;
    --highlight-font: 'PressStart2P', sans-serif;
    --font-weight: 400;
    --font-weight-bold: 700;

    --bk-color: #fff;
    --btn-hover-text-color: #fff;
    --acc-clr: #000;
    --acc-clr-transp: rgba(0, 0, 0, .6);
    --border: 2px solid var(--acc-clr);
    --color-animation: #FF0000;

    --back-image: repeating-linear-gradient(90deg, #D3D3D3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #D3D3D3 0px 2px, transparent 2px 4px),
    linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
    
    
}
